{
  "local": {
    "baseUrl": "http://localhost:8080",
    "userId": "your-user-id-here",
    "apiPath": "/event/configuration/api/v1"
  },
  "render": {
    "baseUrl": "https://happyrow-core.onrender.com",
    "userId": "your-user-id-here",
    "apiPath": "/event/configuration/api/v1"
  },
  "raspberry": {
    "baseUrl": "http://raspberrypi.local:8080",
    "userId": "your-user-id-here",
    "apiPath": "/event/configuration/api/v1"
  }
}
